# DATA INGESTION
**Sources** :
- google trends
- yahoo
- glassnode

In [2]:
import pandas as pd

## Sources

### Google Trends

In [3]:
gogole_df = pd.read_parquet('/home/giujorge/datalake/lab/Crypto/crypto/data/external/google/google_trends/btc_googletrends_2021_10_21.parquet.gzip')
gogole_df

            bitcoin  btc  cryptocurrency  isPartial
date
2014-08-31       55   16               1      False
2014-09-01       59   15               1      False
2014-09-02       50   13               1      False
2014-09-03       51   18               1      False
2014-09-04       48   18               1      False
...             ...  ...             ...        ...
2021-10-15        3    1               0      False
2021-10-16        2    0               0      False
2021-10-17        2    0               0      False
2021-10-18        2    0               0      False
2021-10-19      100   72              39      False

[2623 rows x 4 columns]

### Yahoo

In [4]:
yahoo_df = pd.read_parquet('/home/giujorge/datalake/lab/Crypto/crypto/data/external/yahoo/daily/usd/all_yahoo_2021_10_21.parquet.gzip')
yahoo_df

             VET-USD                                              \
                Open      High       Low     Close        Volume
Date
1927-12-30       NaN       NaN       NaN       NaN           NaN
1928-01-03       NaN       NaN       NaN       NaN           NaN
1928-01-04       NaN       NaN       NaN       NaN           NaN
1928-01-05       NaN       NaN       NaN       NaN           NaN
1928-01-09       NaN       NaN       NaN       NaN           NaN
...              ...       ...       ...       ...           ...
2021-10-17  0.119825  0.127527  0.116873  0.122243  6.345386e+08
2021-10-18  0.122254  0.123747  0.116978  0.118551  4.218356e+08
2021-10-19  0.118551  0.119335  0.114771  0.116163  3.372777e+08
2021-10-20  0.116161  0.123003  0.115251  0.122075  4.134303e+08
2021-10-21  0.123163  0.135694  0.122209  0.132979  1.012209e+09

                 BTC-USD                                            \
                    Open          High           Low         Close
Date
1927-12-30           NaN           NaN           NaN           NaN
1928-01-03           NaN           NaN           NaN           NaN
1928-01-04           NaN           NaN           NaN           NaN
1928-01-05           NaN           NaN           NaN           NaN
1928-01-09           NaN           NaN           NaN           NaN
...                  ...           ...           ...           ...
2021-10-17  60887.652344  61645.523438  59164.468750  61553.617188
2021-10-18  61548.804688  62614.660156  60012.757812  62026.078125
2021-10-19  62043.164062  64434.535156  61622.933594  64261.992188
2021-10-20  64284.585938  66930.390625  63610.675781  65992.835938
2021-10-21  65919.140625  66561.132812  62535.437500  62775.523438

                          ...          ^DJI                              \
                  Volume  ...          Open          High           Low
Date                      ...
1927-12-30           NaN  ...           NaN           NaN           NaN
1928-01-03           NaN  ...           NaN           NaN           NaN
1928-01-04           NaN  ...           NaN           NaN           NaN
1928-01-05           NaN  ...           NaN           NaN           NaN
1928-01-09           NaN  ...           NaN           NaN           NaN
...                  ...  ...           ...           ...           ...
2021-10-17  2.903237e+10  ...           NaN           NaN           NaN
2021-10-18  3.805556e+10  ...  35221.019531  35327.570312  35035.941406
2021-10-19  4.047120e+10  ...  35325.371094  35462.679688  35290.121094
2021-10-20  4.078896e+10  ...  35475.160156  35669.691406  35465.710938
2021-10-21  4.688261e+10  ...  35520.320312  35612.359375  35442.531250

                                              ^IXIC                \
                   Close       Volume          Open          High
Date
1927-12-30           NaN          NaN           NaN           NaN
1928-01-03           NaN          NaN           NaN           NaN
1928-01-04           NaN          NaN           NaN           NaN
1928-01-05           NaN          NaN           NaN           NaN
1928-01-09           NaN          NaN           NaN           NaN
...                  ...          ...           ...           ...
2021-10-17           NaN          NaN           NaN           NaN
2021-10-18  35258.609375  312640000.0  14839.740234  15026.679688
2021-10-19  35457.308594  278510000.0  15073.129883  15137.849609
2021-10-20  35609.339844  265750000.0  15160.000000  15178.389648
2021-10-21  35603.078125  298390473.0  15104.799805  15222.254883


                     Low         Close        Volume
Date
1927-12-30           NaN           NaN           NaN
1928-01-03           NaN           NaN           NaN
1928-01-04           NaN           NaN           NaN
1928-01-05           NaN           NaN           NaN
1928-01-09           NaN           NaN           NaN
...                  ...           ...           ...
2021-10-17           NaN           NaN           NaN
2021-10-18  14833.280273  15021.809570  4.142540e+09
2021-10-19  15049.730469  15129.089844  4.443000e+09
2021-10-20  15071.150391  15121.679688  4.086590e+09
2021-10-21  15094.140625  15215.700195  4.309665e+09

[20621 rows x 161 columns]

### Glassnode

  ## Dataset

In [22]:
yahoo_df[yahoo_df['BTC-USD']['Open'] > 0]['BTC-USD']

,Open,High,Low,Close,Volume
Date,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,2.105680e+07
2014-09-18,456.859985,456.859985,413.104004,424.440002,3.448320e+07
2014-09-19,424.102997,427.834991,384.532013,394.795990,3.791970e+07
2014-09-20,394.673004,423.295990,389.882996,408.903992,3.686360e+07
2014-09-21,408.084991,412.425995,393.181000,398.821014,2.658010e+07
...,...,...,...,...,...
2021-10-13,56038.257812,57688.660156,54370.972656,57401.097656,4.168425e+10
2021-10-14,57372.832031,58478.734375,56957.074219,57321.523438,3.661579e+10
2021-10-15,57345.902344,62757.128906,56868.144531,61593.949219,5.178008e+10
2021-10-16,61609.527344,62274.476562,60206.121094,60892.179688,3.425096e+10
2021-10-17,60833.542969,61338.250000,60380.968750,60981.613281,2.611517e+10

In [23]:
gogole_df.filter(date = ['Date'], axis=0)

Empty DataFrame
Columns: [bitcoin, btc, cryptocurrency, isPartial]
Index: []

In [26]:
gogole_df[gogole_df.index > '2014-09-17']

            bitcoin  btc  cryptocurrency isPartial
date
2014-10-01        3    1               0     False
2014-11-01        3    1               0     False
2014-12-01        3    1               0     False
2015-01-01        3    1               0     False
2015-02-01        3    1               0     False
...             ...  ...             ...       ...
2021-06-01       31    5               4     False
2021-07-01       22    4               3     False
2021-08-01       21    4               3     False
2021-09-01       21    4               3     False
2021-10-01       22    4               4      True

[85 rows x 4 columns]