# Glassnode

## Datasets
**Glassnode's sources** :
-   Adress
-   DeFi
-   Derivatives
-   Distribution
-   Fees
-   Market
-   Mining
-   Supply
-   Transaction

https://docs.glassnode.com/api

### Data source loading

In [2]:
import pandas as pd

In [8]:
address = pd.read_parquet('/home/giujorge/datalake/lab/Crypto/crypto/data/external/glassnode/btc/adr_df_btc_2021_10_24.parquet.gzip')
address

,count,sending_count,receiving_count,active_count,new_non_zero_count,non_zero_count,min_point_zero_1_count,min_point_1_count,min_1_count,min_10_count,min_100_count,min_1k_count,min_10k_count
t,,,,,,,,,,,,,
2009-01-03,1,0,0,0,1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2009-01-04,1,0,0,0,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2009-01-05,1,0,0,0,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2009-01-06,1,0,0,0,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2009-01-07,1,0,0,0,0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-19,890556967,721691,743760,1077630,488426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-20,891017464,594967,713145,975443,460497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-21,891520431,760647,765433,1135695,502967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-22,891969926,642110,693358,974151,449495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-23,892350675,493467,597140,814845,380749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
address  = adress.loc['2014-09-17':].copy()

,count,sending_count,receiving_count,active_count,new_non_zero_count,non_zero_count,min_point_zero_1_count,min_point_1_count,min_1_count,min_10_count,min_100_count,min_1k_count,min_10k_count
t,,,,,,,,,,,,,
2014-09-17,47335995,136567,162684,192638,108434,3402933.0,1199803.0,633962.0,331181.0,115680.0,15358.0,1536.0,99.0
2014-09-18,47444081,132846,164643,192303,108086,3410323.0,1204400.0,635932.0,331491.0,115710.0,15349.0,1532.0,99.0
2014-09-19,47538600,117648,142421,169742,94519,3416117.0,1208656.0,637723.0,331374.0,115643.0,15352.0,1535.0,99.0
2014-09-20,47624055,110874,139288,167810,85455,3417482.0,1208018.0,635814.0,331655.0,115638.0,15387.0,1534.0,99.0
2014-09-21,47692897,90710,182287,203096,68842,3433699.0,1211922.0,636595.0,331927.0,115620.0,15362.0,1534.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-19,890556967,721691,743760,1077630,488426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-20,891017464,594967,713145,975443,460497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-21,891520431,760647,765433,1135695,502967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-22,891969926,642110,693358,974151,449495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-23,892350675,493467,597140,814845,380749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN