# Indicators

## Source

In [1]:
import pandas as pd
import talib

In [2]:
btc_yahoo = pd.read_csv('/home/giujorge/datalake/lab/Crypto/crypto/data/external/yahoo/daily/usd/BTC-USD.csv', parse_dates=True, index_col=0)
btc_yahoo.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [18]:
btc_array = btc_yahoo.to_numpy()

## Overlap Studies

## Momentum Indicators

### Williams' %R

In [21]:
WILLR(btc_array[:,0], btc_array[:,1], btc_array[:,2], btc_array[:,4],timeperiod=14)

TypeError: WILLR() got multiple values for keyword argument 'timeperiod'

In [ ]:
timeperiod=14

## Volume Indicators

## Cycle Indicators

## Volatility Indicators